
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
.header{
  transition: 1s all ease-in-out;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style-type: none;
}
.home{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.text{
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
}
.text:hover{
  font-size: 45px;
}
